.Text{
    font-family: sans-serif;
}
.one{
   font-size: 35px;
       position: absolute;
       top: 20%;
       left: 13%;
}
.two{
      font-size: 70px;
          position: absolute;
       top:19.5%;
       left: 12.86%;
}
.three{
      font-size: 25px;
           position: absolute;
       top: 31%;
       left: 13%;
}
.Service{
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100px;
  height: 60px;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: dimgray;
  position: absolute;
  top: 400px;
  left: 500px;
  color: aliceblue;
  text-size-adjust: calc();
}
.Other-font-sizing{
    font-size: 60px;
    position: absolute;
    top: 110%;
    left: 20%;
    color: aliceblue;
}
.Service2{
    border: none;
  border-radius: 8px;
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  top: 140%;
  left: 37%;
  width: 300px;
  height: 150px;
  font-size: 60px;
  text-align: center;
}
